<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060047389090-e79eae6420il9idjvkrr680khu6r4pba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060047389090-e79eae6420il9idjvkrr680khu6r4pba</string>
	<key>API_KEY</key>
	<string>AIzaSyDeD2RykINT0_eRZycsoq_pYnAOeISOAMs</string>
	<key>GCM_SENDER_ID</key>
	<string>1060047389090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.likeSns</string>
	<key>PROJECT_ID</key>
	<string>udemy-flutter-sns-5a67e</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-flutter-sns-5a67e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060047389090:ios:ad69e7cf42e9df491eb2fb</string>
</dict>
</plist>